In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
file_unemployment = "Resources/stateunemployment.csv"
file_statecode = "Resources/statecode.csv"
file_population = "Resources/populationest.csv"
file_statemedianincome = "Resources/statemedianincome.csv"

In [3]:
# read main csv
unemnployment_DF = pd.read_csv(file_unemployment)
unemnployment_DF.head()

,Series ID,Jan\n2020,Feb\n2020,Mar\n2020,Apr\n2020,May\n2020,Jun\n2020,Jul\n2020,Aug\n2020,Sep\n2020,Oct\n2020,Nov\n2020,Dec\n2020,Jan\n2021,Feb\n2021,Mar\n2021,Apr\n2021
0,LASST010000000000003,2.7,2.6,2.6,13.2,7.9,7.7,7.4,7.1,6.7,4.7,4.7,4.7,4.3,4.0,3.8,3.6
1,LASST010000000000004,59405.0,58639.0,57895.0,288253.0,174680.0,171721.0,165510.0,156709.0,147334.0,107301.0,105558.0,106318.0,97725.0,91041.0,84716.0,79332.0
2,LASST010000000000005,2180872.0,2177852.0,2176275.0,1899019.0,2044109.0,2049715.0,2056348.0,2061877.0,2065378.0,2158999.0,2158343.0,2157736.0,2160236.0,2157723.0,2151242.0,2152651.0
3,LASST010000000000006,2240277.0,2236491.0,2234170.0,2187272.0,2218789.0,2221436.0,2221858.0,2218586.0,2212712.0,2266300.0,2263901.0,2264054.0,2257961.0,2248764.0,2235958.0,2231983.0
4,LASST010000000000007,56.3,56.2,56.1,49.0,52.7,52.8,53.0,53.1,53.2,55.6,55.5,55.5,55.5,55.5,55.3,55.3

In [4]:
# select ID that ends with 3 for unemployment percentage
c_unemployment_DF = unemnployment_DF[unemnployment_DF['Series ID'].str.endswith('3')].reset_index(drop=True)
# Slice str for state ID
c_unemployment_DF['Series ID'] = c_unemployment_DF['Series ID'].str.slice(5,7)
# rename column 
c_unemployment_DF.rename(columns={'Series ID':'State_ID'},inplace=True)
c_unemployment_DF.columns = c_unemployment_DF.columns.str.replace('\n','_')
# convert state_id to int
c_unemployment_DF['State_ID'] = c_unemployment_DF['State_ID'].astype(int)
# check null 
c_unemployment_DF.isnull().sum()

State_ID    0
Jan_2020    0
Feb_2020    0
Mar_2020    1
Apr_2020    1
May_2020    0
Jun_2020    0
Jul_2020    0
Aug_2020    0
Sep_2020    0
Oct_2020    0
Nov_2020    0
Dec_2020    0
Jan_2021    0
Feb_2021    0
Mar_2021    0
Apr_2021    0
dtype: int64

In [5]:
# fill na with avg from previous months
print(c_unemployment_DF[c_unemployment_DF['Mar_2020'].isnull()])
c_unemployment_DF.apply(lambda x:x.fillna((9.1+9)/2))

    State_ID  Jan_2020  Feb_2020  Mar_2020  Apr_2020  May_2020  Jun_2020  \
51        72       9.1       9.0       NaN       NaN       8.5       8.4

    Jul_2020  Aug_2020  Sep_2020  Oct_2020  Nov_2020  Dec_2020  Jan_2021  \
51       8.3       8.3       8.6       9.0       9.2       9.2       9.3

    Feb_2021  Mar_2021  Apr_2021
51       9.2       8.8       8.4

,State_ID,Jan_2020,Feb_2020,Mar_2020,Apr_2020,May_2020,Jun_2020,Jul_2020,Aug_2020,Sep_2020,Oct_2020,Nov_2020,Dec_2020,Jan_2021,Feb_2021,Mar_2021,Apr_2021
0,1,2.7,2.6,2.60,13.20,7.9,7.7,7.4,7.1,6.7,4.7,4.7,4.7,4.3,4.0,3.8,3.6
1,2,5.0,5.1,5.10,11.80,11.6,11.3,11.0,7.2,7.0,6.5,6.5,6.5,6.6,6.6,6.7,6.7
2,4,4.8,4.9,5.00,14.20,10.6,10.7,10.4,7.0,6.9,6.8,6.8,6.8,6.7,6.9,6.7,6.7
3,5,3.7,3.8,3.90,10.00,8.5,7.8,7.1,6.5,5.9,5.6,5.3,4.9,4.6,4.5,4.4,4.4
4,6,4.2,4.3,4.50,16.00,15.6,14.1,13.2,12.3,10.6,9.8,8.7,9.3,9.0,8.5,8.3,8.3
5,8,2.7,2.8,4.70,12.10,11.6,11.3,7.4,7.1,7.0,6.9,6.9,6.9,6.6,6.4,6.4,6.4
6,9,3.7,3.7,3.80,8.60,11.4,11.4,11.3,8.4,8.3,8.2,8.2,8.2,8.1,8.5,8.3,8.1
7,10,4.3,4.5,4.80,13.40,13.3,12.9,8.3,7.9,7.6,5.7,5.8,5.9,6.1,6.3,6.5,6.4
8,11,4.9,5.0,5.20,11.10,8.9,8.9,8.9,8.8,8.7,8.8,8.8,8.8,8.4,8.1,7.7,7.5
9,12,3.3,3.3,4.90,14.00,14.2,11.6,11.5,7.9,7.2,5.8,5.4,5.1,4.8,4.7,4.7,4.8
10,13,3.3,3.5,3.60,12.50,9.4,8.4,7.6,7.0,6.5,5.9,5.6,5.3,5.1,4.8,4.5,4.3
11,15,2.0,2.1,2.10,21.90,21.9,14.1,14.1,14.1,14.8,14.0,10.3,10.3,10.3,9.2,9.1,8.5
12,16,2.6,2.6,2.70,11.60,8.3,7.0,5.9,4.9,6.0,4.8,4.3,3.8,3.5,3.3,3.2,3.1
13,17,3.5,3.6,3.70,16.50,15.4,14.2,12.0,11.1,10.4,8.1,8.1,8.0,7.7,7.4,7.1,7.1
14,18,3.2,3.2,3.30,16.90,12.0,10.1,8.6,7.3,6.3,5.6,5.0,4.6,4.2,4.0,3.9,3.9
15,19,2.8,2.9,2.90,11.10,8.3,7.1,6.1,5.3,4.7,4.2,3.9,3.7,3.6,3.7,3.7,3.8
16,20,3.1,3.2,3.20,12.60,9.0,7.0,6.6,6.2,6.1,4.7,4.7,4.7,3.4,3.8,3.7,3.5
17,21,4.1,4.2,4.20,16.90,10.9,5.7,5.6,5.5,5.5,5.5,5.6,5.6,5.3,5.2,5.0,4.7
18,22,5.1,5.2,5.30,13.10,13.1,9.4,9.1,8.2,8.0,7.9,7.9,7.9,7.6,7.6,7.4,7.3
19,23,3.0,3.1,3.10,9.10,8.3,5.3,8.8,5.2,4.9,4.8,4.9,5.0,5.2,4.8,4.8,4.8
20,24,3.4,3.5,3.50,9.00,9.0,8.6,8.7,8.6,7.0,6.8,6.8,6.8,6.4,6.2,6.2,6.2
21,25,2.8,2.8,2.70,16.40,15.3,14.8,9.8,9.3,8.9,8.5,8.4,8.4,7.8,7.0,6.7,6.5
22,26,3.7,3.7,3.70,23.60,20.8,14.1,9.0,8.5,8.2,8.1,8.2,8.2,5.7,5.2,5.1,4.9
23,27,3.2,3.3,3.50,9.00,11.3,8.9,7.6,6.6,5.8,5.3,5.0,4.7,4.5,4.4,4.2,4.1
24,28,5.6,5.8,6.00,15.70,11.0,9.6,8.5,7.8,7.2,6.9,6.7,6.6,6.4,6.3,6.2,6.2
25,29,3.6,3.6,3.70,12.50,9.6,8.1,6.8,6.0,5.4,5.0,4.7,4.4,4.3,4.3,4.2,4.1
26,30,3.7,3.7,3.80,11.90,9.1,7.6,6.6,5.8,5.2,4.7,4.5,4.2,4.0,3.9,3.8,3.7
27,31,2.9,3.0,3.10,7.40,5.4,6.6,4.4,4.0,3.8,3.6,3.4,3.4,3.2,3.1,2.9,2.8
28,32,3.7,3.7,6.40,29.50,24.5,15.4,16.6,14.5,13.0,12.0,8.7,8.2,8.5,8.4,8.1,8.0
29,33,2.6,2.6,2.70,16.00,13.4,10.3,8.1,6.6,5.5,4.7,4.2,3.8,3.6,3.3,3.0,2.8
30,34,3.7,3.7,3.80,16.60,16.5,16.3,13.1,11.0,7.8,7.7,10.2,7.7,7.8,7.8,7.6,7.5
31,35,5.1,5.3,5.40,10.00,10.0,9.8,12.5,9.3,8.6,8.5,8.5,8.6,8.7,8.3,8.3,8.2
32,36,3.8,3.9,3.90,16.20,15.7,15.0,14.7,11.7,10.0,8.7,8.7,8.7,8.8,8.9,8.4,8.2
33,37,3.5,3.6,3.90,13.50,13.5,8.8,8.8,6.8,7.3,6.8,6.4,6.1,5.9,5.7,5.2,5.0
34,38,2.2,2.3,2.30,8.70,8.7,6.2,6.2,6.1,4.7,4.7,4.7,4.7,4.5,4.8,4.4,4.2
35,39,4.5,4.7,4.90,16.40,14.9,10.3,9.3,9.0,7.4,5.6,5.6,5.6,5.3,5.0,4.7,4.7
36,40,3.1,3.1,3.20,13.00,9.5,8.2,7.2,6.3,5.7,5.2,4.8,4.5,4.4,4.4,4.3,4.3
37,41,3.4,3.5,3.60,13.20,11.7,10.3,9.6,8.4,7.5,7.0,6.6,6.3,6.2,6.1,6.0,6.0
38,42,4.8,5.0,5.10,16.20,13.5,13.3,13.0,10.2,7.1,7.0,7.1,7.1,7.3,7.4,7.3,7.4
39,44,3.8,4.0,4.00,17.40,12.9,10.9,14.0,12.6,10.9,7.3,7.9,7.9,7.2,7.3,7.0,6.3
40,45,2.6,2.8,3.00,11.50,11.5,7.7,7.6,5.4,5.4,5.4,5.6,5.6,5.3,5.2,5.1,5.0
41,46,2.9,2.9,2.90,9.20,7.0,6.1,5.4,4.7,4.0,3.7,3.6,3.3,3.1,3.0,2.9,2.8
42,47,3.7,3.9,4.00,15.80,9.6,9.3,8.9,8.1,7.9,7.8,5.6,5.6,5.1,4.9,5.1,5.0
43,48,3.6,3.7,4.90,12.90,11.6,10.2,9.3,6.9,7.9,7.3,7.2,6.9,6.8,6.9,6.9,6.7
44,49,2.4,2.5,2.50,10.10,7.6,6.3,5.4,4.8,4.2,3.8,3.5,3.3,3.1,3.0,2.9,2.8
45,50,2.5,2.5,2.60,14.80,9.3,7.7,6.4,5.4,4.6,4.0,3.7,3.5,3.2,3.0,2.9,2.9
46,51,2.5,2.5,2.60,11.30,8.5,8.8,7.9,7.0,6.6,6.1,5.8,5.6,5.3,5.2,5.1,4.7
47,53,4.0,4.1,5.30,16.30,12.5,10.8,10.8,9.1,8.0,7.0,6.7,6.3,6.0,5.6,5.5,5.5
48,54,5.0,5.1,5.30,15.60,11.9,10.5,9.4,8.5,7.9,7.4,7.0,6.7,6.5,6.2,5.9,5.8
49,55,3.3,3.3,3.20,14.80,10.4,8.6,7.2,6.1,5.2,4.8,4.4,4.0,3.8,3.8,3.8,3.9
50,56,4.4,4.8,5.10,5.50,8.5,7.4,6.8,6.2,5.7,5.4,5.3,5.2,5.1,5.3,5.3,5.4
51,72,9.1,9.0,9.05,9.05,8.5,8.4,8.3,8.3,8.6,9.0,9.2,9.2,9.3,9.2,8.8,8.4

In [6]:
# read state code and append
statecode = pd.read_csv(file_statecode)
statecode.columns=['State_ID','State_name']
statecode.head()
UEDF = c_unemployment_DF.join(statecode.set_index('State_ID'),on='State_ID')
# switch column order
UEDF = UEDF[['State_ID','State_name', 'Jan_2020', 'Feb_2020', 'Mar_2020', 'Apr_2020', 'May_2020','Jun_2020', 'Jul_2020', 'Aug_2020', 'Sep_2020', 'Oct_2020', 'Nov_2020', 'Dec_2020', 'Jan_2021', 'Feb_2021', 'Mar_2021', 'Apr_2021']]
UEDF.head()

,State_ID,State_name,Jan_2020,Feb_2020,Mar_2020,Apr_2020,May_2020,Jun_2020,Jul_2020,Aug_2020,Sep_2020,Oct_2020,Nov_2020,Dec_2020,Jan_2021,Feb_2021,Mar_2021,Apr_2021
0,1,Alabama,2.7,2.6,2.6,13.2,7.9,7.7,7.4,7.1,6.7,4.7,4.7,4.7,4.3,4.0,3.8,3.6
1,2,Alaska,5.0,5.1,5.1,11.8,11.6,11.3,11.0,7.2,7.0,6.5,6.5,6.5,6.6,6.6,6.7,6.7
2,4,Arizona,4.8,4.9,5.0,14.2,10.6,10.7,10.4,7.0,6.9,6.8,6.8,6.8,6.7,6.9,6.7,6.7
3,5,Arkansas,3.7,3.8,3.9,10.0,8.5,7.8,7.1,6.5,5.9,5.6,5.3,4.9,4.6,4.5,4.4,4.4
4,6,California,4.2,4.3,4.5,16.0,15.6,14.1,13.2,12.3,10.6,9.8,8.7,9.3,9.0,8.5,8.3,8.3

In [7]:
UEDF.columns

Index(['State_ID', 'State_name', 'Jan_2020', 'Feb_2020', 'Mar_2020',
       'Apr_2020', 'May_2020', 'Jun_2020', 'Jul_2020', 'Aug_2020', 'Sep_2020',
       'Oct_2020', 'Nov_2020', 'Dec_2020', 'Jan_2021', 'Feb_2021', 'Mar_2021',
       'Apr_2021'],
      dtype='object')

In [20]:
# read median income - only extract 2019 income
medianincome = pd.read_csv(file_statemedianincome,header=[0,1])
mincome2019 = medianincome.iloc[:,0:3]
mincome2019.columns=['State_name','Median_Income_2019','SE_2019']
mincome2019['Median_Income_2019'] = mincome2019['Median_Income_2019'].str.replace(',','').astype(int)
mincome2019['SE_2019'] = mincome2019['SE_2019'].str.replace(',','').astype(int)
mincome2019.head()

<ipython-input-20-7da56f5bba96>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mincome2019['Median_Income_2019'] = mincome2019['Median_Income_2019'].str.replace(',','').astype(int)
<ipython-input-20-7da56f5bba96>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mincome2019['SE_2019'] = mincome2019['SE_2019'].str.replace(',','').astype(int)

   State_name  Median_Income_2019  SE_2019
0     Alabama               56200     2512
1      Alaska               78394     6685
2     Arizona               70674     3391
3    Arkansas               54539     2384
4  California               78105     1850

In [9]:
# read population estimate, only extract 2020
pop = pd.read_csv(file_population)
pop.head()
pop2020 = pop[['STATE','NAME','POPESTIMATE2020']]
pop2020 = pop2020[pop2020['STATE'] >=1]
pop2020.columns=['State_ID','State_name','EST2020Pop']
pop2020.head()

   State_ID  State_name  EST2020Pop
5         1     Alabama     4921532
6         2      Alaska      731158
7         4     Arizona     7421401
8         5    Arkansas     3030522
9         6  California    39368078

In [10]:
# setup engine connection
from config import pw
engine = create_engine(f'postgresql://postgres:{pw}@localhost:5432/ETL_Project')

In [11]:
# check engine is running
engine.table_names()

['unemployment2020', 'medianincome2019', 'estpop2020']

In [22]:
# pandas to sql
UEDF.to_sql(name='unemployment2020', con=engine, if_exists='append', index=False)
mincome2019.to_sql(name='medianincome2019', con=engine, if_exists='append', index=False)
pop2020.to_sql(name='estpop2020', con=engine, if_exists='append', index=False)

In [23]:
# query 
pd.read_sql_query('select * from "unemployment2020"', con=engine).head()

,State_ID,State_name,Jan_2020,Feb_2020,Mar_2020,Apr_2020,May_2020,Jun_2020,Jul_2020,Aug_2020,Sep_2020,Oct_2020,Nov_2020,Dec_2020,Jan_2021,Feb_2021,Mar_2021,Apr_2021
0,1,Alabama,2.7,2.6,2.6,13.2,7.9,7.7,7.4,7.1,6.7,4.7,4.7,4.7,4.3,4.0,3.8,3.6
1,2,Alaska,5.0,5.1,5.1,11.8,11.6,11.3,11.0,7.2,7.0,6.5,6.5,6.5,6.6,6.6,6.7,6.7
2,4,Arizona,4.8,4.9,5.0,14.2,10.6,10.7,10.4,7.0,6.9,6.8,6.8,6.8,6.7,6.9,6.7,6.7
3,5,Arkansas,3.7,3.8,3.9,10.0,8.5,7.8,7.1,6.5,5.9,5.6,5.3,4.9,4.6,4.5,4.4,4.4
4,6,California,4.2,4.3,4.5,16.0,15.6,14.1,13.2,12.3,10.6,9.8,8.7,9.3,9.0,8.5,8.3,8.3